@model IEnumerable<ChartInMVC.Models.Product>

@{
    ViewBag.Title = "ViewProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center">View Product</h2>

<p>
    <a href="@Url.Action("AddProduct", "Product")" id="Add" class="btn btn-primary">Create New &nbsp;<i class="glyphicon glyphicon-plus"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Sl No.</th>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0;}
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{ i++;}
                    @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>               
            </tr>
        }

    </tbody>
</table>
